//backgrounds
$body-bg: #F1F2F5;
$header-bg: #161616;
$primary: #FFE500;
$secondary: #161616;
$black: #000000;
$white: #fff;

//breakpoints
$tablet: 720px;
$mobile: 565px;


//fonts
$basic-family: 'Roboto', Arial, Helvetica, sans-serif;
$primary-family: 'Raleway', Arial, Helvetica, sans-serif;