.map{
  background-color: $white;
  padding: 150px 0 122px 0;
}

.map__title{
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
  color: $secondary;
  padding-bottom: 46px;
  text-align: center;
}

.map__icon{
  display: block;
  object-fit: cover;
  width: 100%;
}