.service__title{
  font-size: 30px;
  font-weight: 600;
  margin-top: 205px;
  margin-bottom: 70px;
  text-align: center;
}

.cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin-bottom: 70px;
}



.cards__item{
  position: relative;
  transition: transform .2s ease-in-out;

}

.cards__item:hover{
  transform: translateY(-20px);
}

.card__map{
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffe500;
  padding: 9px 10px 9px 10px;
  width: 54px;
  height: 54px;
}

.card__text{
  position: absolute;
  top: 0;
  left: 54px;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 4px;
  padding-right: 10px;
  transition: opacity .2s ease, transform .2s ease;
  opacity: 0;
  pointer-events: none;
  background-color: #ffe500;
  transform: translateX(-54px);
}

.card__inner-text{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
}

.card__map:hover .card__text{
  opacity: 1;
  transform: translateX(0);
}


.card__pic{
  vertical-align: top;
  width: 100%;
  object-fit: cover;
  height: 345px;
}

.card__description{
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 52px;
  background-color: #fff;

}